<div id="mainContainer">
  <div class="bannerContainer">
    <app-header></app-header>
    <div id="bannerLogo">
      <div class="bannerLogoContent">
        <img
          src="/assets/images/client.png"
          alt=""
          width="70%"
          style="opacity: 1; transform: translateY(0px)"
        />
        <img src="/assets/images/connect.png" alt="" width="90%" />
        <p>fastest and easiest way to connect with your clients</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
