#mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  .bannerContainer {
    background-image: url(/assets/images/loginbanner.jpg);
    background-size: cover;
    height: 100vh;
    background-position-x: center;
    background-repeat: no-repeat;
    #bannerLogo {
      justify-content: flex-end;
      display: flex;

      .bannerLogoContent {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
        padding: 94px 104px 79px;
        p {
          color: #e64d43;
          font-size: 25px;
          margin: 13px 10px 10px 0px;
          font-weight: 500;
          letter-spacing: 1px;
          box-shadow: none;
          text-shadow: 0 1px 0 rgb(0 0 0 / 20%);
          font-style: normal;
          font-family: Lato;
          text-align: right;
        }
      }
    }
  }
}
