#mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  .bannerContainer {
    background-image: url(../../assets/images/loginbanner.jpg);
    height: 100vh;
    background-position-x: center;
    background-repeat: no-repeat;
  }
}
